""" Map leader to space ---------------------
let mapleader=" "

""" Common settings -------------------------
set clipboard+=unnamed
set clipboard+=ideaput
set hlsearch
set incsearch
set number relativenumber
set scrolloff=8
set showmode
set showcmd

""" Idea specific settings ------------------
set ideamarks
set idearefactormode=keep
set ideajoin
set ideastatusicon=enabled

set easymotion
" nmap s <Plug>(easymotion-s2)
" nmap t <Plug>(easymotion-t2)
map / <Plug>(easymotion-s)
omap / <Plug>(easymotion-t)
" map n <Plug>(easymotion-next)
" map N <Plug>(easymotion-prev)
map <leader>j <Plug>(easymotion-j)
map <leader>k <Plug>(easymotion-k)
map <leader>l <Plug>(easymotion-lineforward)
map <leader>h <Plug>(easymotion-linebackward)
let g:EasyMotion_startofline = 0
let g:EasyMotion_smartcase = 1
let g:EasyMotion_use_smartsign_us = 1
" map <leader>f <Plug>(easymotion-s)
" map <leader>e <Plug>(easymotion-f)

set NERDTree
map <C-t> :NERDTreeToggle<CR>
" let g:NERDTreeMapActivateNode = 'l'
" let g:NERDTreeMapJumpParent = 'h'

set surround

set multiple-cursors

set commentary
autocmd FileType ideavim setlocal commentstring=\"\ %s

set ReplaceWithRegister

set argtextobj
let g:argtextobj_pairs="[:],(:),<:>"

set exchange

set textobj-entire

set highlightedyank

set textobj-indent

""" Idea actions -----------------------------
nnoremap <leader>c :action Stop<CR>
nnoremap <leader>zz :action ToggleDistractionFreeMode<CR>

" nnoremap <leader>s :action SelectInProjectView<CR>
" nnoremap <leader>a :action Annotate<CR>
" nnoremap <leader>h :action Vcs.ShowTabbedFileHistory<CR>


" Editing source code
vnoremap < <gv
vnoremap > >gv

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

sethandler <c-w> a:ide
sethandler <c-s-w> a:ide
" nnoremap <c-w> :action EditorSelectWord<CR>
" vnoremap <c-w> :action EditorSelectWord<CR>
" nnoremap <c-s-w> :action EditorUnSelectWord<CR>
" vnoremap <c-s-w> :action EditorUnSelectWord<CR>

" Folding
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

nnoremap <leader>= :action ReformatCode<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>rt :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>rt :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ro :action OptimizeImports<CR>
nnoremap <leader>rl :action ShowIntentionActions<CR>

nnoremap <leader>ge :action GotoNextError<CR>
nnoremap <leader>gE :action GotoPreviousError<CR>

" Searching & Source Code Navigation
nnoremap <leader>o :action FileStructurePopup<CR>
nnoremap <leader>/ :action FindInPath<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <c-e> :action RecentFiles<CR>
nnoremap <leader>gl :action RecentLocations<CR>
nnoremap <leader>gu :action LocalHistory.ShowHistory<CR>
nnoremap <leader>gr :action GotoRelated<CR>
nnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gs :action GotoSymbol<CR>
nnoremap <leader>d :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gp :action GotoSupermethod<CR>
nnoremap <leader>gt :action GotoTest<CR>
nnoremap <c-a-h> :action Back<CR>
nnoremap <c-a-l> :action Forward<CR>
nnoremap <leader>gh :action CallHierarchy<CR>
nnoremap <leader>gn :action ShowNavBar<CR>
" nnoremap <leader>h :action PreviousTab<CR>
" nnoremap <leader>l :action NextTab<CR>

" Tool Windows
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>

nnoremap <leader>bd :action CloseEditor<CR>

" Running & Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap ,R :action ChooseRunConfiguration<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,D :action ActivateDebugToolWindow<CR>

sethandler <C-j> a:vim
sethandler <C-k> a:vim
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

" nnoremap <c-h> <c-w>h
nnoremap <c-h> :action PrevSplitter<CR>
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
" nnoremap <c-l> <c-w>l
nnoremap <c-l> :action NextSplitter<CR>

nnoremap <tab> :action NextTab<CR>
nnoremap <s-tab> :action PreviousTab<CR>

nnoremap <leader>en :action EditSourceInNewWindow<CR>

nnoremap <leader>qx :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditorsButActive<CR>

""" Other Mappings ---------------------------
" noremap <Esc> <nop>
" nmap <S-Enter> O<Esc>
" nmap <CR> o<Esc>

" map Q gq

nnoremap \e :e C:\Users\tungha.t\.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" exit insert mode with jk
inoremap jk <Esc>
""" faster command mode
nnoremap ; :

xnoremap <leader>p \"_dP

""" move lines around
" nnoremap <C-j> :m +1<CR>
" nnoremap <C-k> :m -2<CR>
" inoremap <C-j> <Esc>:m +1<CR>
" inoremap <C-k> <Esc>:m -2<CR>

" system clipboard
" vmap <leader>y "+y
" vmap <leader>d "+d
" nmap <leader>y "+yy
" nmap <leader>p "+p
" nmap <leader>P "+P
" vmap <leader>p "+p
" vmap <leader>P "+P

" scrollin
" nmap <leader>d <C-d>
" nmap <leader>u <C-u>
" vmap <leader>d <C-d>
" vmap <leader>u <C-u>

" nnoremap <leader><leader> <C-Tab>
